<launch>
    <param name="use_sim_time" value="false" />

    <!-- Main node -->
    <node name="iraf_slam" pkg="iraf_slam_ros" type="ros_rgbd_inertial" output="screen">
        <!-- change the topics according to the dataset -->
        <remap from="/camera/rgb/image_raw"                 to="/camera/color/image_raw"/>
        <remap from="/camera/depth_registered/image_raw"    to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="/imu"                                  to="/camera/imu"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string" value="$(find iraf_slam_ros)/iraf_slam/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find iraf_slam_ros)/config/RGB-D-Inertial/RealSense_D435i.yaml"/>

        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="world" />
        <param name="cam_frame_id"      type="string"   value="camera" />
        <param name="imu_frame_id"      type="string"   value="imu" />
        <param name="enable_pangolin"   type="bool"     value="true" />
    </node>
    
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iraf_slam_ros)/config/iraf_slam_rgbd.rviz" output="screen" />
    
    <!-- Trajectory path -->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_iraf_slam" output="screen" ns="iraf_slam_ros" >
        <param name="/target_frame_name" value="/world" />
        <param name="/source_frame_name" value="/imu" />
        <param name="/trajectory_update_rate" value="20.0" />
        <param name="/trajectory_publish_rate" value="20.0" />
    </node>
</launch>